AppOpener
Backend
beautifulsoup4
cohere
ddgs
dotenv
edge_tts
Frontend
groq
keyboard
mtranslate
Pillow
psutil
pygame
PyQt5
pywhatkit
requests
rich
selenium
serpapi
webdriver_manager
win32gui
win32process
